

div#usamin

= javascript_include_tag 'homes', 'data-turbolinks-track': 'reload'

javascript:
  articles = #{@articles.html_safe}
  articles.forEach(function(article){
    var player = LivePhotosKit.Player();
    player.photoSrc = 'https://s3-ap-northeast-1.amazonaws.com/liviewm-dev/articles/images/' + article.resource_name + ".JPG";

    player.videoSrc = 'https://s3-ap-northeast-1.amazonaws.com/liviewm-dev/articles/movies/' + article.resource_name + ".MOV";
    player.style.height = article.image_height/2 + 'px';
    player.style.width = article.image_width/2 + 'px';
    document.body.appendChild(player);
  });

